<text>Performance Progression Percentile Calculator</text>
<body style="background-color:rgb(0, 0, 0);">
    <form method="POST">
        <label style="color: rgb(255, 255, 255);font-size:25px;font-family:Candara">Username:</label>
        <input name="username">
        <input type="submit">
    </form>
    <strong style="color: rgb(255,255,255);font-family:Candara">What is Performance Progression Percentile (PPP)?</strong><br>
    <text style="color: rgb(255,255,255);font-family:Candara">
        TLDR: In essence, PPP is the percent of players that you would rank higher 
        than if every player were to have the same playing time as you.
    </text><br><br>
    <strong style="color: rgb(255,255,255);font-family:Candara">Why is my percentile so low/high when I've progressed fast?</strong><br>
    <text style="color: rgb(255,255,255);font-family:Candara">
        The regression is mostly for five-digits or lower. 
        Due to the high inactivity and high variance within six digits and higher, six-digit percentiles may be more inaccurate.
    </text>
</body>